body {font-family: Montserrat;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.boardBox {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}


.boardBox .board:hover{
  box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.315);
  /* box-shadow: -5px -5px 10px rgba(128, 128, 128, 0.315); */

  /* justify-content: center; */
}


<<<<<<< HEAD
.boardBox .todo:hover{
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.315);
    /* box-shadow: -5px -5px 10px rgba(128, 128, 128, 0.315); */
  
    /* justify-content: center; */
  } 


=======
>>>>>>> 8841dd59ff6325b69df65d5486cb6bd512b5d963
.boardBox .board {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 400px;
  width: 20%;
  border: 2px solid cadetblue;
  /* border-width: 5px; */
  border-radius: 15px;
  /* background-color: cadetblue; */
}



.boards {
  display: flex;
  flex-direction: row;
  margin: 10px;
  height: 200px;
  width: 90%;
  border: 2px solid cadetblue;
  /* border-width: 5px; */
  border-radius: 15px;
  /* background-color: cadetblue; */
}

.innerBoard {
  display: flex;
   flex-direction: row; 
  margin: 10px;
  margin-left:auto;
  margin-right:15px;
  height: 150px;
  width: 40%;
  padding: 14px 15px;
  align-items: left;
  align-content: left;

  border: 2px solid cadetblue;
  /* border-width: 5px; */
  border-radius: 15px;
  /* background-color: cadetblue; */
}

.circleButton{
  display: flex;
  height: 40px;
  width: 10%;
  background-color: rgb(67, 118, 124); 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  /* text-decoration: none; */
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%
  /* cursor: pointer; */

}

.boardBox .todo {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    height: 400px;
    width: 20%;
    border: 2px solid cadetblue;
    /* border-width: 5px; */
    border-radius: 15px;
    /* background-color: cadetblue; */
  }


  .boardBox .todo .title {

    line-height: 50px;
    color: white;
 
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 10px;
    height: 50px;
    width: 90%;
    /* border: 2px solid cadetblue; */
    /* border-width: 5px; */
    border-radius: 15px;
    background-color: cadetblue;
  }


  .boardBox .todo .content {

    line-height: 50px;
    color: white;
 
    text-align: left;
    display: flex;
    align-content: left;
    flex-direction: column;
    margin: 10px;
    height: 50px;
    width: 90%;
    /* border: 2px solid cadetblue; */
    /* border-width: 5px; */
    border-radius: 15px;
    /* background-color: cadetblue; */
  }


.boardBox .board .name {
  min-width: inherit;
  align-self: center;
  font-size: 40px;
  margin-top: 15%;
}

.boardBox .board .status {
  align-self: center;
  min-height: 20%;
  font-size: 40px;
  margin-top: 15%;
  color: red;
}

.boardBox .board ul {
  align-self: center;
  font-size: 12px;
  padding: 0px;
}

.boardBox .board .members {
  align-self: center;
  min-height: 20%;
  font-size: 40px;
  margin-top: 15%;
  color: red;
}
