$primaryColor: cadetblue;

.boardBox2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .finalButton:hover {
        box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.315);
    }



    .boards:hover {
        box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.315);
    }


    .boards {
        display: flex;
        flex-direction: row;
        margin: 10px;

        width: 90%;
        justify-content: space-around;
        padding-bottom: 10px;
        // border: 1.7px solid $primaryColor;
        border-radius: 5px;
        background-color: white;

        @include breakpoint(small) {
            flex-direction: column;
            align-items: center;
            align-content: center;
            align-self: center;

        }



        .boardsOwnerAndName {
            display: flex;
            flex-direction: column;
            // min-height: 20%;
            width: 55%;
            margin-bottom: 10px;
            font-size: 25px;
            margin-top: 20px;
            margin-left: 20px;

            // font-weight: bold; 
            @include breakpoint(small) {
                align-items: center;
                // align-content: center;
                // align-self: center;
            }

            .numberOfBoard{
                display: flex;
                flex-direction: row;
                min-height: 20%;
                width: 55%;
                // margin: 2px;
                // margin-bottom: 10px;
                font-size: 25px;
                // margin-top: 20px;
                // margin-left: 10px;

            }

            .listOwner {
                font-size: 16px;
                margin-top: 20px;
    
                @include breakpoint(small) {
                    align-self: center;
                }
    
    
            
    
            h6 {
                margin-bottom: 2px;
                font-size: 16px;
    
            }
    
    
            ul {
                padding: 17px;
                margin-top: 15px;
                font-size: 13px;
    
            }

        } //endOfListOwner

 } //end Of boardsOwnerAndName

  

         

        .innerBoard {
            display: flex;
            flex-direction: column;
            position: relative;
            margin: 10px;
            height: 110px;
            width: 45%;
            padding: 20px 10px 85px 20px;
            background-color: rgb(235, 232, 232);
            // border: 1.7px solid $primaryColor;
            border-radius: 5px;

            @include breakpoint(small) {
                width: 80%;
            }



            .circleButton:hover {
                box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.315);
            }

            .membersOfBoard {
                font-size: 20px;
                margin-top: 0px;

                .headOfMember {

                    margin-top: 5px;
                    font-size: 16px;
                    margin-bottom: 5px;
                    //  font-size: 16px;
                    font-weight: bold;

                }


                ul {
                    padding: 17px;
                    margin-top: 0px;
                    font-size: 13px;
                    height: 70px;
                    overflow: auto;
                    $colorback: rgb(235, 232, 232);
                    $colorToolBar: white;
                    @include onHoverScroll($colorback, $colorToolBar);

                }
            }

            //end member 


            .circleButton {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                height: 30px;
                width: 30px;
                background-color: $primaryColor;
                border: none;
                color: white;
                font-size: 15px;
                cursor: pointer;
                // margin-top: 10px;
                 bottom: 10px;
                border-radius: 50%;


            }
        }

        //end innerboard    

    }


    .finalButton {
        display: flex;
        margin: 10px;
        justify-content: center;
        height: 40px;
        width: 90%;
        background-color: $primaryColor;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        border-radius: 5px;
    }
}

// end boards



//end boardBox