$primaryColor: cadetblue;

.boardsOrganizer {
    display: flex;
    justify-content: center;


    .boardBox2 {
        width: inherit;
        box-sizing: border-box;
        max-width: 1250px;
        display: flex;
        //flex-wrap: wrap;
        align-items: center;
        flex-direction: column;


        .finalButton:hover {
            box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.315);
        }



        .boards:hover {
            box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.315);
        }


        .boards {
            display: flex;
            flex-direction: row;
            margin: 10px;
            flex-grow: 1; 
            // width: 100%;
            min-width: 950px;
            justify-content: space-around;
            padding-bottom: 10px;
            // border: 1.7px solid $primaryColor;
            border-radius: 5px;
            background-color: white;

            @include breakpoint(medium) {
                min-width: 700px;
            }

            @include breakpoint(small) {
                flex-direction: column;
                align-items: center;
                align-content: center;
                align-self: center;
                min-width: 300px;;
            }



            .boardsOwnerAndName {
                display: flex;
                flex-direction: column;

                //  justify-content: start;
                // min-height: 20%;
                width: 80%;
                margin-bottom: 10px;
                font-size: 25px;
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;

                // font-weight: bold; 
                @include breakpoint(small) {
                    align-items: left;
                    justify-content: start;
                    // left: 0px;
                    // align-items: center;
                    // align-content: center;
                    // align-self: center;
                }

                .numberOfBoard {
                    display: flex;
                    flex-direction: row;
                    // min-height: 20%;
                    // width: 55%;
                    // margin: 2px;
                    // margin-bottom: 10px;
                    font-size: 25px;
                    color: $primaryColor;
                    // margin-top: 20px;
                    // margin-left: 10px;

                }

                .listOwner {
                    // display: flex;
                    // justify-content: center;
                    font-size: 16px;
                    margin-top: 20px;
                    align-items: center;



                    @include breakpoint(small) {
                        // display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        // align-self: flex-start;
                        // display: flex;
                        //  justify-content: flex-start;


                    }





                    h6 {
                        margin-bottom: 2px;
                        font-size: 18px;

                        // @include breakpoint(small) {
                        //     // padding-left: 40px;
                        //     align-self: center;
                        //     align-content: center;
                        // }


                    }


                    ul {
                        padding: 10px;
                        margin-top: 15px;
                        font-size: 13px;
                        color: rgb(77, 73, 73);
                        list-style: none;
                        list-style-position: inside;

                        // @include breakpoint(small) {
                        //     // padding-left: 45px;
                        //     align-self: center;
                        // }

                    }

                    li::before {
                        content: "\2022";
                        color: $primaryColor;
                        font-weight: bold;
                        // font-size: 27px;
                        display: inline-block;
                        width: 1em;
                        margin-left: 0em
                    }

                }



                //endOfListOwner

            }

            //end Of boardsOwnerAndName





            .innerBoard {
                display: flex;
                flex-direction: column;
                position: relative;
                margin: 10px;
                height: 110px;
                width: 45%;
                padding: 20px 10px 85px 20px;
                background-color: rgb(235, 232, 232);
                // border: 1.7px solid $primaryColor;
                border-radius: 5px;

                @include breakpoint(small) {
                    width: 80%;
                }



                .circleButton:hover {
                    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.315);
                    opacity: 0.9;
                }

                .membersOfBoard {
                    font-size: 20px;
                    margin-top: 0px;

                    .headOfMember {

                        margin-top: 5px;
                        font-size: 19px;
                        margin-bottom: 14px;
                        //  font-size: 16px;
                        font-weight: bold;

                    }


                    ul {
                        padding: 0px;
                        margin-top: 0px;
                        font-size: 13px;
                        height: 90px;
                        color: rgb(88, 86, 86);
                        list-style: none;
                        overflow: auto;
                        $colorback: rgb(235, 232, 232);
                        $colorToolBar: white;
                        @include onHoverScroll($colorback, $colorToolBar);

                    }

                    li::before {
                        content: "\2022";
                        color: $primaryColor;
                        font-weight: bold;
                        // font-size: 27px;
                        display: inline-block;
                        width: 1em;
                        margin-left: 0em
                    }
                }

                //end member 


                .circleButton {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    height: 35px;
                    width: 35px;
                    background-color: $primaryColor;
                    border: none;
                    color: white;
                    font-size: 15px;
                    cursor: pointer;
                    // margin-top: 10px;
                    bottom: 10px;
                    border-radius: 50%;


                }
            }

            //end innerboard    

        }


        .finalButton {
            display: flex;
            margin: 10px;
            justify-content: center;
            height: 40px;
            width: 950px;
            background-color: $primaryColor;
            border: none;
            color: white;
            font-size: 20px;
            cursor: pointer;
            border-radius: 5px;
            
            @include breakpoint(medium) {
                max-width: 700px;
            }
            @include breakpoint(small) {
                
                max-width: 300px;;
            }
        }
    }
}

// end boards



//end boardBox