$primaryColor: cadetblue;

.boardBoxOrganizer {
	display: flex;
	justify-content: center;

	.boardBox {
		box-sizing: border-box;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		max-width: 1250px;
		padding-top: 10px;
		padding-bottom: 1%;

		.board {
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 3% 0% 2% 0%;
			margin: 10px;
			height: 400px;
			// width: 17%;
			min-width: 270px;
			border-radius: 5px;
			background-color: white;

			.name {
				align-self: center;
				font-size: 35px;
			}


			.status {
				align-self: center;
				min-height: 20%;
				font-size: 30px;
				margin-top: 15%;
				color: $primaryColor;
			}

			ul {
				align-self: center;
				font-size: 12px;
				padding: 0px;
			}

			.members {
				display: flex;
				align-items: center;
				flex-direction: row-reverse;
				margin-right: 20px;
				margin-left: 20px;
				border-radius: 20px;

				img {
					border-radius: 50%;
					height: 40px;
					width: 40px;
					margin-left: -20px;
				}
			}
		}

		.empty {
			background-color:transparent;
			box-sizing: border-box;
			padding: 3% 0% 2% 0%;
			margin: 10px;
			height: 400px;
			width: 17%;
			min-width: 270px;
			order: 2;
		}

		.done {
			background-color: rgba(255, 255, 255, 0.5);
			order: 1;
			.name {opacity: 0.5;}
			ul {opacity: 0.5;}
			.members {opacity: 0.5;}
			.status {opacity: 1;}
		}
	}

	.board:hover {
		box-shadow: 0 10px 20px rgba(3, 27, 78, .1);
		transition: all 0.2s;
	}

}