$primaryColor: cadetblue;

.boardBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // align-content: center;
}


.boardBox {
    .board {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3% 0% 1% 0%;
        margin: 10px;
        height: 300px;
        width: 17%;
        min-width: 200px;
        // border: 2px solid $primaryColor;
        /* border-width: 5px; */
        border-radius: 5px;
        background-color: white;
        position: relative;
    }
}

.boardBox {
    .board:hover {
        box-shadow: 0 10px 20px rgba(3,27,78,.1);
        transition: all 0.2s;
    }
}

.boardBox .board .name {
    /* min-width: inherit; */
    align-self: center;
    font-size: 35px;
    // flex-basis: 25%;
    /* margin-top: 15%; */

}

.boardBox .board .status {
    align-self: center;
    min-height: 20%;
    font-size: 40px;
    margin-top: 15%;
    color: red;
    // flex-basis: 25%; 
}

.boardBox .board ul {
    /* position: absolute; */
    align-self: center;
    font-size: 12px;
    /* bottom: 10%; */
    padding: 0px;

    // flex-basis: 25%;
}

.boardBox .board .members {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgba(163, 162, 162, 0.151);
    /* position: absolute; */
    padding: 10px;
    // flex: 0 1 25%;
}

.boardBox .board .members img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: -20px;
}