$primaryColor: cadetblue;



// @import url('https://fonts.googleapis.com/css?family=Rubik:300&display=swap');
@font-face {
    font-family: 'GT Walsheim';
    src: url("assets/fonts/GT Walsheim Regular.ttf") format('truetype');
}



body {
    font-family: Arial, Helvetica, sans-serif , sans-serif;;
    font-style: light;
    font-weight: 200;
    background: rgb(243, 243, 243); 
}
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primaryColor; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 238, 241); 
}

/* Style the tab */

.tab {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(3,27,78,.1);
}

@media only screen and (max-width: 600px){
    .tab{
        justify-content: center;
    }
}

/* Style the buttons inside the tab */
.tab {
    button{
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }
}

/* Change background color of buttons on hover */
.tab {
    button:hover{
        background-color: cadetblue;
    }
}

/* Create an active/current tablink class */
.tab {
    button{
        .active{
            background-color: $primaryColor;
        }
    }
}


/* Style the tab content */
.tabcontent {
    display: flex;
    justify-content: center;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    position: relative;
}

