$primaryColor: cadetblue;
.organizer{
	background: transparent;
	display: flex;
    justify-content: center;
	.todoHolder {
	background: transparent;
	box-sizing: border-box;
	max-width: 1250px;

	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;

	.todosInfo {
		display:flex;
		flex-direction: row;
		justify-content: space-between;

		flex-grow: 1;
		background: #fff;
		width:100%;
		height: 50px;
		margin: 10px 0 15px 0;


		.text {
			display: flex;
			padding: 10px;
			align-content: center;
			align-items: center;
			flex-grow:1;
		}

		.boardsmenu {}

	}


	.boardBoxTodo {
		box-sizing: border-box;

		display: flex;
		flex-direction: row;

		justify-content: center;
		flex-wrap: wrap;
		max-width: 1250px;

		margin: 20px;

		.todoBox:hover {

			box-shadow: 0 20px 20px rgba(3, 27, 78, .1);
			transition: all 0.2s;

		}





		.todoBox {

			box-sizing: border-box;

			display: flex;
			//flex-flow: row wrap;
			box-sizing: border-box;
			flex-direction: column;
			margin: 10px;
			padding: 10px;
			height: 400px;
			// width: 30%;
			//border: 2px solid cadetblue;
			border-radius: 5px;
			overflow: auto;
			min-width: 270px;
			background: white;

			@include breakpoint(small) {
				height: 400px;
			}



			.title {
				display: flex;
				justify-content: center;
				align-items: center;
				
				color: white;
				text-transform: uppercase;
				//font-weight: bold;
				font-size: 17px;
				align-self: center;
				text-align: center;
				height: 40px;
				width: 95%;
				border-radius: 3px;
				background-color: cadetblue;
			}


			.allTasksContainer {


				color: rgb(70, 70, 70);
				// align-content: left;
				text-align: left;
				margin: 10px;
				padding: 10px;
				border-radius: 15px;


				max-height: 300px;
				overflow-y: scroll;
				overflow: auto;

				$bordercolor: white;
				$trackcolor: grey;
				@include onHoverScroll($bordercolor, $trackcolor);



				.inputContainer {

					display: flex;
					justify-content: space-between;
					//padding-right: 2px;
					// -webkit-flex-flow: row wrap;
					// justify-content: stretch;

					input[type=text] {
						box-sizing: border-box;
						// width:%;
						// flex-grow:1;?
						border: 0px solid;
						// border-bottom: 1px dotted  rgba(0, 0, 0, 0.404);
						//flex-grow:2;
						//padding: 5px 12px;
						text-decoration: none;
						// margin: 4px;
						cursor: pointer;
						//margin-right:10px;
					}

					input[type=text]:focus {
						outline: none;
					}

					input[type=submit] {
						font-size: 25px;
						border-radius: 50%;
						height: 50px;
						width: 50px;
						margin-left: -20px;
						// size: 45px 45px;
						border-radius: 50%;
						background-color: cadetblue;
						border: none;
						color: white;
						//padding: 5px 12px;
						text-decoration: none;
						// margin: 4px;
						cursor: pointer;
					}

					.inputItem {



						align-self: center;



					}
				}






				.taskContainer {
					// display: -webkit-box;
					// display: -moz-box;
					// display: -ms-flexbox;
					// display: -webkit-flex;
					display: flex;

					// -webkit-flex-flow: row wrap;
					justify-content: space-between;






					.taskItem {


						align-self: center;



						input[type=checkbox]+label {
							color: rgb(70, 70, 70);

						}

						input[type=checkbox]:checked+label {
							color: rgb(197, 195, 195);
							text-decoration: line-through;
							transition: 0.3s;
							font-style: normal;
						}



						img {
							border-radius: 50%;
							height: 50px;
							width: 50px;
							margin-left: -20px;
						}
					}
				}


				hr {
					margin-top: 0.9em;
					margin-bottom: 0.9em;
					border: 0;
					height: 1px;
					background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
					background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
					background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
					background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);

				}

			}

		}


		.done {

			opacity: 0.5;
			filter: alpha(opacity=50);
			order: 1;
		}

		.empty {
			background-color: transparent;
			box-sizing: border-box;
			padding: 3% 0% 2% 0%;
			margin: 10px;
			height: 400px;
			width: 17%;
			min-width: 270px;
			order: 2;
		}

		.plus {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: cadetblue;
			color: white;
			position: relative;
			font-size: 40px;
			text-decoration: none;
			order: 2;
		}


	}

}




.styled-checkbox {
	position: absolute; // take it out of document flow
	opacity: 0; // hide it

	&+label {
		position: relative;
		cursor: pointer;
		padding: 0;
	}

	// Box.
	&+label:before {
		content: '';
		margin-right: 10px;
		display: inline-block;
		vertical-align: text-top;
		width: 20px;
		height: 20px;
		background: #dfdfdf;
	}

	// Box hover
	&:hover+label:before {
		background: $primaryColor;
	}

	// Box focus
	&:focus+label:before {
		// box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}

	// Box checked
	&:checked+label:before {
		background: $primaryColor;
	}

	// Disabled state label.
	&:disabled+label {
		color: #b8b8b8;
		cursor: auto;
	}

	// Disabled box.
	&:disabled+label:before {
		box-shadow: none;
		background: #b8b8b8;
	}

	// Checkmark. Could be replaced with an image
	&:checked+label:after {
		content: '';
		position: absolute;
		left: 5px;
		top: 9px;
		background: white;
		width: 2px;
		height: 2px;
		box-shadow:
			2px 0 0 white,
			4px 0 0 white,
			4px -2px 0 white,
			4px -4px 0 white,
			4px -6px 0 white,
			4px -8px 0 white;
		transform: rotate(45deg);
	}
}



.dropbtn {
	background-color: cadetblue;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	right:0px;

	//float: right;


	/* margin: 40px; */
}

.dropdown {
	right: 20px;
	//position: fixed;
	align-content: right;
	display: inline-block;

}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #1f7281;
}
}